
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="../aboutUs.ejs">about us</a></li>
                    <li><a href="../index.ejs">our services</a></li>
                    <li><a href="../privacy-policy.ejs">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="../com.ejs">communities</a></li>
                    <li><a href="../payment.ejs">payment options</a></li>
                    <li><a href="../contactUs.ejs">contact us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>actions</h4>
                <ul>
                    <li><a href="../Apartments.ejs">apartments</a></li>
                    <li><a href="../Villas.ejs">villas</a></li>
                    <li><a href="../sell.ejs">sell</a></li>
                    <li><a href="../agent.ejs">agents</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer >
<div class="footer-container footer-container-expand-lg">
<div class="footer-buttons ">
  <a class="btn enquiry-btn"  href="feedback.ejs">Feedback <i class="fa-solid fa-pen-to-square"></i></a>
  <div class="vl"></div>
  <a class="btn call-btn">CALL <i class="fas fa-phone"></i></a>
  <div class="vl"></div>
  <a class="btn whatsapp-btn" href="ScheduleMeeting.ejs">Schedule Meeting <i class="fa-solid fa-calendar-days"></i></a>
  <div class="vl"></div>
  <a class="btn three-d" href="map.ejs">MAP <i class="fas fa-map-marker-alt"></i></a>
</div>
</div>
</footer>



