<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realestate</title>
    <style>
        #secoundmaindiv{
            display: flex;
        }
        #start{
            box-shadow: 0 5px 10px black;
            height:500px;
            border-radius: 10px;
            padding: 25px;
            margin: 15px;
            background-size: cover;
            background-position: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #leftbutton,#rightbutton{
            height:10%;
            border: 1px solid black;
            background-color: rgba(95, 168, 236, 0);
        }
        #myform{
            display: flex;
            flex-direction: row;
        }
        #contentdiv{
            box-shadow: 0 5px 10px black;
            height:400px;
            width:70%;
            border-radius: 10px;
            padding: 25px;
            margin: 15px;
            align-items: center;
            display:flex;
        }
        #contentdiv2{
            box-shadow: 0 5px 10px black;
            height:400px;
            width:30%;
            border-radius: 10px;
            padding: 25px;
            margin: 15px;
            background-size: cover;
            background-position: center;
            display: grid;
        }
        #acon{
            width: 100%;
            height: 100%;
            margin-top: 10px;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            display:grid;
            justify-content: center;
        }
        span{
            margin-left: 10px;
        }
        #price,#price2{
            font-weight: bold;
        }
        #acon:hover{
            transform: scale(1.05);
        }
        a {
            text-decoration: none;
        }
        .kalam{
            color:white;
        }
        .material-symbols-outlined {
            vertical-align: middle;
        }
        .icon{
            width:15px;
            height:15px;
            vertical-align: middle;
            margin-right:2px;
        }
    </style>
    <script>
        const allobjects=[
            {id:"1",bed:"3",toilets:"2",living:"1",garden:1,swim:0,location:"https://www.google.com/maps/place/Emaar+Mivida+Compound/@30.0102788,31.5353318,17z/data=!3m1!4b1!4m6!3m5!1s0x1458222742926025:0x8f18a8273e8f9068!8m2!3d30.0102788!4d31.5379067!16s%2Fg%2F11bzq369s9?entry=ttu",price:"3,500,255$",makan:"Attameya Heights"},
            {id:"2",bed:"5",toilets:"3",living:"2",garden:1,swim:1,location:"https://www.google.com/maps/search/Hyde+park+appartments/@30.0484216,31.4635438,12.55z?entry=ttu",price:"5,690,000$",makan:"Sheikh Zayed"},
            {id:"3",bed:"10",toilets:"6",living:"4",garden:3,swim:3,location:"https://www.google.com/maps/place/Aldau+Heights+%2F+Strand/@27.1955667,33.8343567,17z/data=!4m10!3m9!1s0x14528721111ea329:0xe3234530dec96e60!5m3!1s2024-05-18!4m1!1i2!8m2!3d27.1955667!4d33.8369316!16s%2Fg%2F11g6wz3rv4?entry=ttu",price:"8,050,340$",makan:"Fifth Settlement"}
    ];
        var i=1;
        var i2=1;
        const n=3;
        const n2=allobjects.length;
        const params = new URLSearchParams(document.location.search);
        let b=params.get("btn");
        if(b==null)
        b=1;
        window.onload = function() {
        getbutton();
        setInterval(incimage,6000);
        setInterval(incimage2,6000);
        }
        function incimage(){
            i++;
            if(i>n)
               i=1;
            checkimg();
        }
        function decimage(){
            i--;
            if(i<1)
               i=n;
            checkimg();
        }
        function incimage2(){
            i2++;
            if(i2>n2)
               i2=1;
            if(i2==b)
            {
                i2++;
            }
            checkimg2();
        }
        function decimage2(){
            i2--;
            if(i2==b)
            {
                i2--;
            }
            if(i2<1)
               i2=n2;
            checkimg2();
        }
        function getbutton(){
            u='images'+b+'/image1.jpg';
            document.getElementById("start").style.backgroundImage=`url(${u})`;
            i2=parseInt(b)+1;
            if(i2>n)
            {
                i2=1;
            }
            let mainim='mainimages/image'+i2+'.jpg';
            document.getElementById("contentdiv2").style.backgroundImage=`url(${mainim})`;
            for(let y in allobjects)
            {
               if(allobjects[y].id==i2)
                {
                    document.getElementById("makan2").innerHTML=allobjects[y].makan;
                    document.getElementById("price2").innerHTML=allobjects[y].price;
                }
            }
            document.getElementById("anchortag").href="AdminPage.html?btn="+i2;
            for(let x in allobjects)
            {
                if(allobjects[x].id==b)
                {
                    document.getElementById("bed").innerHTML=allobjects[x].bed;
                    document.getElementById("toilet").innerHTML=allobjects[x].toilets;
                    document.getElementById("living").innerHTML=allobjects[x].living;
                    document.getElementById("garden").innerHTML=allobjects[x].garden;
                    document.getElementById("Swim").innerHTML=allobjects[x].swim;
                    document.getElementById("loc").href=allobjects[x].location;
                    document.getElementById("price").innerHTML=allobjects[x].price;
                    document.getElementById("makan").innerHTML=allobjects[x].makan;
                    if(allobjects[x].garden==0)
                    document.getElementById("garden").innerHTML="None";
                    if(allobjects[x].swim==0)
                    document.getElementById("Swim").innerHTML="None";
                }
            }
            
        }
        function checkimg(){
            const params = new URLSearchParams(document.location.search);
            const b=params.get("btn");
            let u='images'+b;
            if(i==1)
            {
                u+='/image1.jpg';
                document.getElementById("start").style.backgroundImage=`url(${u})`;
            }
            if(i==2)
            {
                u+='/image2.jpg';
                document.getElementById("start").style.backgroundImage=`url(${u})`;
            }
            if(i==3)
            {
                u+='/image3.jpg';
                document.getElementById("start").style.backgroundImage=`url(${u})`;
            }
        }
        function checkimg2(){
            const params = new URLSearchParams(document.location.search);
            const b=params.get("btn");
            let u='mainimages';
            for(let y in allobjects)
            {
               if(allobjects[y].id==i2)
                {
                    document.getElementById("makan2").innerHTML=allobjects[y].makan;
                    document.getElementById("price2").innerHTML=allobjects[y].price;
                }
            }
            document.getElementById("anchortag").href="AdminPage.html?btn="+i2;
            if(i2==1)
            {
                u+='/image1.jpg';
                document.getElementById("contentdiv2").style.backgroundImage=`url(${u})`;
            }
            if(i2==2)
            {
                u+='/image2.jpg';
                document.getElementById("contentdiv2").style.backgroundImage=`url(${u})`;
            }
            if(i2==3)
            {
                u+='/image3.jpg';
                document.getElementById("contentdiv2").style.backgroundImage=`url(${u})`;
            }
        }

        function editDescription() {
    // Get the description element and its text
    var descriptionElement = document.getElementById("descriptionText");
    var descriptionText = descriptionElement.innerText;

    // Replace the description element with a text area for editing
    descriptionElement.outerHTML = '<textarea id="descriptionTextArea">' + descriptionText + '</textarea>';
}

function editDetails() {
    // Get the details elements and their texts
    var bedText = document.getElementById("bed").innerText;
    var toiletText = document.getElementById("toilet").innerText;
    var livingText = document.getElementById("living").innerText;
    var gardenText = document.getElementById("garden").innerText;
    var swimText = document.getElementById("Swim").innerText;

    // Replace the details elements with input fields for editing
    document.getElementById("bed").outerHTML = '<input type="text" id="bedInput" value="' + bedText + '">';
    document.getElementById("toilet").outerHTML = '<input type="text" id="toiletInput" value="' + toiletText + '">';
    document.getElementById("living").outerHTML = '<input type="text" id="livingInput" value="' + livingText + '">';
    document.getElementById("garden").outerHTML = '<input type="text" id="gardenInput" value="' + gardenText + '">';
    document.getElementById("Swim").outerHTML = '<input type="text" id="swimInput" value="' + swimText + '">';
}

function editPrice() {
    // Get the price element and its text
    var priceElement = document.getElementById("price");
    var priceText = priceElement.innerText;

    // Replace the price element with an input field for editing
    priceElement.outerHTML = '<input type="text" id="priceInput" value="' + priceText + '">';
}

// Add a function to save the changes once editing is finished
// This function will depend on how you want to handle the saving process
// You can use AJAX to send the edited data to the server for saving

    </script>
</head>
<body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> 
    <div id="start">
        <button id="leftbutton" onclick="return decimage()"><</button>
        <button id="rightbutton" onclick="return incimage()">></button>
    </div>
    <div style="display: flex;">
    <div style="width:70%">
    <h1 id="makan"></h1>
</div>
<div style="width:30%">
    <h1>Other suggestions</h1>
    </div>
</div>
    <div id="secoundmaindiv">
    <div id="contentdiv">
        <div style="display: grid;width:150%">
            <img style="size:50%" src="https://www.sobharealty.com/media/hq1mgpy1/group-28552-2.svg">
            <h1>Description</h1>
            <p style="margin-top:0px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore tenetur incidunt eum aliquam in, delectus velit molestiae et, fuga distinctio perspiciatis nesciunt recusandae, omnis dolor alias. Quis consequuntur odio fugiat!</p>
            <h1 style="margin-top:0px;">Details</h1>
            <div style="display:flex;margin-top:0px;">
                <div style="display:grid">
            <p><img class="icon"  src="icon/bed.jpg">Bedrooms:<span id="bed"></span></p>
            <p><img class="icon" src="icon/toilet.jpg">Toilets:<span id="toilet"></span></p>
        </div>
        <div style="display:grid;margin-left:5%;">
            <p><img class="icon" src="icon/living.jpg">Livingrooms:<span id="living"></span></p>
            <p><img class="icon" src="icon/garden.jpg">Garden:<span id="garden"></span></p>
        </div>
            <div style="display:grid;margin-left:5%;">
            <p><img class="icon"  src="icon/swim.jpg">Swimmingpools:<span id="Swim"></span></p>
            </div>
        </div>
        </div>
        <div style="display: grid;margin-left:10%;margin-top:50px;border-left:1px double black;padding-left:20px;width:100%">
        <p>Price:<span id="price"></span></p>
        <p style="margin:5px 0px 0px 0px">Location</p>
        <div id="acon">
           <a id="loc" target="_blank"><img style="width:100%;height:100%;" src="C:\Users\moham\Downloads\WhatsApp Image 2024-05-06 at 3.00.17 PM.jpeg"></a>
        </div>
    </div>
    </div>
    <div id="contentdiv2">
        <div id="leftandright" style="display:flex;margin-top:150px;">
        <button style="height:30px;width:20px" id="leftbutton" onclick="return decimage2()"><</button>
        <button style="margin-left: 90%;height:30px;width:20px" id="rightbutton" onclick="return incimage2()">></button>
        </div>
        <div style="margin-top:10%;">
            <h1 class="kalam" id="makan2"></h1>
            <h2 class="kalam">price<h2 class="kalam" id="price2"></h2></h2>
            <a class="kalam" id="anchortag">click for more<span class="material-symbols-outlined"> arrow_right_alt </span></a>
        </div>
    </div>
</div>


<div style="display: grid;width:50%">
    <!-- Edit button for description -->
    <button onclick="editDescription()">Edit Description</button>
    <button onclick="editDetails()">Edit Details</button>
    <button onclick="editPrice()">Edit Price</button>
</div>

</body>
</html>





