body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

  .title {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }
  
  .sec1 {
    background-color: #f9f9f9;
    padding: 2rem;
  }
  
  .search-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .first,.second {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 40%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #23527c;
  }
  
  @media screen and (max-width: 768px)  {
   .first,.second{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
  }